<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iatfei.tsconverter">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FirstStartupActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
        android:name=".AboutActivity"
        android:label="@string/title_activity_about"
        android:parentActivityName=".MainActivity"
        android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".OpenSourceActivity"
            android:theme="@style/AppThemeMaterial"
            android:label="@string/about_license"
            android:parentActivityName=".AboutActivity"/>

        <activity
            android:name=".ConvertActivity"
            android:label="@string/menu_trans_text"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>